/* Importa o aquivo de estilos principal da pagina*/
@import url("main_style.css");

/* Estiliza a seção responsavel pelo formulario de contato */
.section2 {
    display: block;    
    background-color: var(--bg-pagina);
    width: 100%;
    height: 300px;
    padding: 50px;
    margin: 0px;

}

/* Estiliza o paragrafo emcima do formulario da seção2 */
.section2 > p {
    margin: 0px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

/* Estiliza o formulario de contato*/
.formulario-contato {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(0px, max-content);
    
    width: 800px;
    margin: auto;
}

/* Estiliza as legendas das caixas de entradas do formulario*/
.formulario-contato > label {
    color: white;
    height: 2rem;
}

/* Estiliza as caixas de entrada dos formularios*/
.formulario-contato > input {
    width: 100%;
    height: 2rem;
    
}

/* Estiliza o botão de envio do formulario */
.formulario-contato > button {
    display: block;
    margin: auto;

    width: 50%;
    height: 2rem;
    margin-top: 20px;

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}